@import "./variables";
@mixin containerDesktop {
  max-width: 1116px;
  margin: 0 auto;
}

@mixin flexContainer($ai, $jc, $direction) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $direction;
}

@mixin fontTitle() {
  font-family: $josefin;
  font-weight: $josefin-weight;
}

@mixin fontSubTitle() {
  font-family: $alata;
  font-weight: $alata-weight;
}

@mixin sizeFontDefault() {
  font-size: 0.9375rem;
}

@mixin backgroundImg() {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
}
