/* ## Colors */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);

/* ## Fonts / Weight */
$alata: "Alata", sans-serif;
$alata-weight: 400;

$josefin: "Josefin Sans", sans-serif;
$josefin-weight: 300;

/* Paddings */

/* Navigation */
$padding-top-navigation: 3.9375rem;
