@import "./base/typography";
@import "./abstracts/variables";
@import "./base/reset";
@import "./abstracts/mixins";
@import "./layout/flex";
@import "./components/backgroundBody";
@import "./components/icons";
@import "./components/container";
@import "./components/logo";
@import "./layout/info-left";
@import "./components/form";

body {
  background-color: $dark-blue;
  font-family: $default;
  font-size: 0.875rem;
  @include flexCenter(row);
  min-height: 100vh;
  color: $pale-blue;
  position: relative;
}

main {
  animation-name: entry;
  animation-duration: 0.7s;
  @include flexCenter(row);
  & div {
    background-color: $medium-blue;
  }
}

@keyframes entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $small-desktops) {
  main {
    @include flexCenter(column);
    max-width: 95%;
    animation-name: entry2;
    animation-duration: 0.7s;
  }
  @keyframes entry2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
