@import "../abstracts/mixins";
@import "../abstracts/variables";

.flex {
  @include flexCenter(row);
}

.ai-center {
  text-align: center;
  justify-content: center;
}

.flex-space-between {
  @include flexCenter(row);
  justify-content: space-between;
  span {
    font-weight: $bold;
  }
}

@media screen and (max-width: $small-desktops) {
  .flex-space-between {
    margin-bottom: 20px;
  }
}
