@import "../abstracts/mixins";

.flex {
  @include flexCenter(row);
}

.ai-center {
  text-align: center;
  justify-content: center;
}

.flex-space-between {
  @include flexCenter(row);
  justify-content: space-between;
  span {
    font-weight: $bold;
  }
}
