@mixin flexContainer($flexDirection, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin container {
  max-width: 1118px;
  margin: 0 auto;
}
