@import "./variables";

@mixin flexContainer($flexDirection, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin container {
  max-width: 1118px;
  margin: 0 auto;
}

@mixin link {
  color: $clr-neutral-violet-gray;
  font-weight: $fw-medium;
  cursor: pointer;
}

@mixin button($border-radius) {
  background-color: $clr-primary-cyan;
  border-radius: $border-radius;
  padding: 10px 27px;
  font-weight: $fw-bold;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $clr-primary-cyan-hover;
  }
}
