/* ## Colors */

/* ### Primary */
$clr-primary-cyan: hsl(180, 66%, 49%);
$clr-primary-violet: hsl(257, 27%, 26%);

/* ### Secondary */
$clr-secondary-red: hsl(0, 87%, 67%);

/* ### Neutral */
$clr-neutral-gray: hsl(0, 0%, 75%);
$clr-neutral-violet-gray: hsl(257, 7%, 63%);
$clr-neutral-violet-dark: hsl(255, 11%, 22%);
$clr-neutral-light-dark: hsl(260, 8%, 14%);
