/* ## Colors */

/* ### Primary */
$clr-primary-cyan: hsl(180, 66%, 49%);
$clr-primary-cyan-hover: #a8e1e1;
$clr-primary-violet: hsl(257, 27%, 26%);

/* ### Secondary */
$clr-secondary-red: hsl(0, 87%, 67%);

/* ### Neutral */
$clr-neutral-section: hsl(220, 25%, 95%);
$clr-neutral-gray: hsl(0, 0%, 75%);
$clr-neutral-violet-gray: hsl(257, 7%, 63%);
$clr-neutral-violet-dark: hsl(255, 11%, 22%);
$clr-neutral-light-dark: hsl(260, 8%, 14%);

/* ### typography */
$ff-default: "Poppins", sans-serif;

/* ### Weights */
$fw-medium: 500;
$fw-bold: 700;

/* ### Font-size */
$fs-default: 18px;

$buttonWidth: 30px;
$buttonHeight: 26px;
$buttonColor: darken(#2b32b2, 15%);
$lineThickness: 4px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;
