body::after {
  content: "";
  position: absolute;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  height: 50vh;
  width: 100%;
  z-index: -1;
  bottom: 0;
}
