.form-control {
  width: 100%;
  margin-top: 1rem;
  margin-top: 10px;

  & input {
    width: 100%;
    background: linear-gradient(
      to right,
      #ffa399 0%,
      #ff4d97 50%,
      rgb(12, 18, 44) 50%,
      rgb(12, 18, 44) 100%
    );
    cursor: pointer;
    border: solid 2px #0c122c;
    border-radius: 8px;
    height: 18px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    &:focus {
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.596);
    }
    &::-webkit-slider-thumb {
      background-color: white;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      margin-top: 0;
      -webkit-appearance: none;
      box-shadow: 0 0 0 2px #ff4d97;
      position: relative;
    }
  }
}
