@import "../utilities/mixins";
@import "../utilities/variables";

.links {
  transform: translateY(-93px);
}

.truncate {
  max-width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.list {
  @include container;
}

.list li {
  padding: 0.8rem 2rem;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: $clr-neutral-light-dark;
  display: flex;
  margin-bottom: 18px;
  border-radius: 5px;
  align-items: center;
  position: relative;
  font-size: 18px;
}

.list li:nth-of-type(1) {
  margin-top: 22px;
}

.list li small {
  position: absolute;
  opacity: 0;
  top: 6px;
  right: 46px;
  font-size: 0.7rem;
}

.list li .close {
  display: none;
  text-align: right;
  cursor: pointer;
}

.list li a {
  &:focus {
    opacity: 0.6;
  }
  &:hover {
    opacity: 0.6;
  }
}

.list li a span {
  font-size: 19.5px;
}

.list li span {
  font-size: 19.5px;
  font-weight: $fw-medium;
  flex: 1;
}

.list li a:nth-of-type(1) {
  color: $clr-primary-cyan;
  font-weight: bolder;
}
.list li a:nth-of-type(1):hover,
.list li a:nth-of-type(1):focus {
  color: $clr-primary-cyan;
}

.list li button {
  margin-left: 15px;
  @include button(5px);
  cursor: pointer;
  font-size: 1rem;
}

.list li button.copied {
  background-color: hsl(257, 27%, 26%);
  width: 97.34px;
  padding: 10px 17px;
  animation-name: smooth-copy-entry;
  animation-duration: 0.7s;
}

@keyframes smooth-copy-entry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list li button:focus,
.list li button:hover {
  box-shadow: 1px 1px 10px rgba(212, 201, 201, 0.815);
}

.list li button:active {
  transform: scale(0.95);
}

.list li:hover .close,
.list li .close:hover {
  display: block;
  font-size: 1.1rem;
  color: rgba(49, 49, 49, 0.87);
  position: absolute;
  right: 3px;
  top: -3px;
}

.list li .close:hover {
  color: red;
}

@media screen and (max-width: 990px) {
  .list li {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 27px;
    position: relative;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      .close {
        right: 6px;
        top: 0px;
      }
    }
    button {
      width: 100%;
      margin-left: 0;
      .coppied {
        width: 100%;
      }
    }

    span {
      margin-bottom: 15px;
    }
    a {
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 600px;
        max-width: 100%;
        left: 0%;
        background-color: #00000024;
      }
      span {
        padding-top: 23px;
        display: inline-block;
      }
    }
  }

  .list li button.copied {
    background-color: hsl(257, 27%, 26%);
    width: 100% !important;
    padding: 10px 17px;
    animation-name: smooth-copy-entry;
    animation-duration: 0.7s;
  }
}
