@import "../utilities/mixins";
@import "../utilities/variables";

nav .nav-logo {
  margin-right: 44px;
}

nav ul {
  @include flexContainer(row, center, flex-start);
  flex: 1;
}

nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

nav ul li a {
  @include link;
}

nav button:first-child {
  @include link;
  margin-right: 36px;
  background-color: white;
  /* font-weight: 700; */
  font-size: 16px;
}

nav button:last-child {
  @include button(50px);
  font-size: 16px;
}
