@import "../utilities/mixins";
@import "../utilities/variables";

.statistics {
  @include flexContainer(column, center, center);
  @include container;
  margin-top: 32px;
  h2 {
    font-size: 2.4rem;
    color: $clr-neutral-light-dark;
    margin-bottom: 10px;
  }

  p {
    color: $clr-neutral-violet-gray;
    margin-bottom: 100px;
    font-size: 18px;
    max-width: 520px;
    text-align: center;
    line-height: 1.9;
  }
}
