@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /*   ## Colors */

  /* ### Primary */
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-green2: hsl(154, 54%, 42%);

  /* ### Accent */
  --clr-blue: hsl(248, 32%, 49%);

  /* ### Neutral */
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-dark-blue2: hsl(244, 6%, 46%);
  --clr-grayish-blue: hsl(246, 25%, 77%);

  /*   ## Font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-red);
  background-image: url(./images/bg-intro-desktop.png);
  min-height: 100vh;
}

main {
  display: flex;
  max-width: 1116px;
  width: 90%;
  margin: 0 auto;
}

.main-info {
  width: 50%;
}

.main-form {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  width: 95%;
}

.title {
  font-weight: var(--fw-700);
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.card-try {
  width: 96.8%;
  background-color: var(--clr-blue);
  color: white;
  padding: 17.5px;
  border-radius: 10px;
  margin-bottom: 2em;
  text-align: center;
}

.card-try span {
  font-weight: var(--fw-600);
}

.form-container {
  width: 96.8%;
  background-color: white;
  border-radius: 10px;
  padding: 2.5em;
}

.form-control {
  max-width: 100%;
  margin-bottom: 20px;
}

.form-control input {
  border-radius: 5px;
  outline: none;
  padding: 19px 30px;
  width: 100%;
  border: 1px solid;
  color: var(--clr-dark-blue);
  font-weight: var(--fw-600);
  border-color: var(--clr-grayish-blue);
}

.form-control input::placeholder {
  color: var(--clr-dark-blue2);
  font-weight: var(--fw-600);
}

button[type="submit"] {
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  color: white;
  padding: 16px 32px;
  width: 100%;
  background-color: var(--clr-green);
  font-weight: var(--fw-600);
  font-size: 1.1rem;
  border: 4px solid transparent;
  border-bottom: 4px solid var(--clr-green2);
  margin-bottom: 18px;
}

.agree {
  text-align: center;
  color: var(--clr-grayish-blue);
  font-size: 0.7rem;
  font-weight: var(--fw-600);
}

.agree span {
  color: var(--clr-red);
}

@media (max-width: 1072px) {
  .title,
  .description {
    text-align: center;
  }
  .card-try {
    padding: 17.5px 60px;
  }
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .main-info {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: min(10vh, 100px);
  }
  .main-form {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .content {
    height: initial;
    margin: 0 auto;
  }

  .main-form {
    height: initial;
  }
  .title {
    font-size: 1.85rem;
  }

  .description {
    margin-bottom: min(10vh, 66px);
  }

  .form-container {
    padding: 25px;
  }

  button[type="submit"] {
    padding: 16px 0;
    font-size: 1rem;
  }
  .card-try {
    padding: 17.5px 30px;
  }
}
