@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /*   ## Colors */

  /* ### Primary */
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);

  /* ### Accent */
  --clr-blue: hsl(248, 32%, 49%);

  /* ### Neutral */
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-grayish-blue: hsl(246, 25%, 77%);

  /*   ## Font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
