@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /*   ## Colors */

  /* ### Primary */
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-green1: hsl(154, 58%, 46%);
  --clr-green2: hsl(154, 54%, 42%);

  /* ### Accent */
  --clr-blue: hsl(248, 32%, 49%);

  /* ### Neutral */
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-dark-blue2: hsl(244, 6%, 46%);
  --clr-grayish-blue: hsl(246, 25%, 77%);

  /*   ## Font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-red);
  background-image: url(./images/bg-intro-desktop.png);
  min-height: 100vh;
}

main {
  display: flex;
  max-width: 1116px;
  width: 90%;
  margin: 0 auto;
}

.main-info {
  width: 50%;
}

.main-form {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  width: 95%;
}

.title {
  font-weight: var(--fw-700);
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
  animation-name: enter;
  animation-duration: 1s;
}

@keyframes enter {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

.description {
  font-size: 1rem;
  font-weight: var(--fw-500);
  line-height: 1.8;
  animation-name: up;
  animation-duration: 1.2s;
}
@keyframes up {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
.card-try {
  width: 96.8%;
  background-color: var(--clr-blue);
  color: white;
  padding: 17.5px;
  border-radius: 10px;
  margin-bottom: 2em;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.card-try:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.card-try span {
  font-weight: var(--fw-600);
}

.form-container {
  width: 96.8%;
  background-color: white;
  border-radius: 10px;
  padding: 2.5em;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.form-control {
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.form-control::after {
  display: none;
  content: "";
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 0;
  transform: translateX(-100%);
  width: 24px;
  height: 24px;
  background: url(./images/icon-error.svg);
}
.form-control.success::after {
  color: var(--clr-green1);
  display: block;
  background: url(./images/check.svg);
}

.form-control input {
  border-radius: 5px;
  outline: none;
  padding: 19px 30px;
  width: 100%;
  border: 1px solid;
  color: var(--clr-dark-blue);
  font-weight: var(--fw-600);
  border-color: var(--clr-grayish-blue);
  position: relative;
}

label {
  position: relative;
}

.form-control.error input {
  border-color: var(--clr-red);
}

.form-control.success input {
  border-color: var(--clr-green1);
  color: var(--clr-green1);
}

.form-control input::placeholder {
  color: var(--clr-dark-blue2);
  font-weight: var(--fw-600);
}

.form-control.error input::placeholder {
  color: var(--clr-red);
}

small {
  display: none;
}

.form-control.error small {
  display: none;
  font-size: 0.7rem;
  margin-top: 5px;
}

.form-control.error small {
  color: var(--clr-red);
  font-style: italic;
  text-align: right;
  display: block;
}

.form-control.error::after {
  display: block;
}

button[type="submit"] {
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  color: white;
  padding: 16px 32px;
  width: 100%;
  background-color: var(--clr-green);
  font-weight: var(--fw-600);
  font-size: 1.1rem;
  border: 4px solid transparent;
  border-bottom: 4px solid var(--clr-green2);
  margin-bottom: 18px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

button[type="submit"]:hover {
  background-color: var(--clr-green1);
}
button[type="submit"]:active {
  transform: translateY(10px);
}

.agree {
  text-align: center;
  color: var(--clr-grayish-blue);
  font-size: 0.7rem;
  font-weight: var(--fw-600);
}

.agree span {
  color: var(--clr-red);
}

@media (max-width: 1072px) {
  .title,
  .description {
    text-align: center;
  }
  .card-try {
    padding: 17.5px 60px;
  }
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .main-info {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: min(10vh, 100px);
  }
  .main-form {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .content {
    height: initial;
    margin: 0 auto;
  }

  .main-form {
    height: initial;
  }
  .title {
    font-size: 1.85rem;
  }

  .description {
    margin-bottom: min(10vh, 66px);
  }

  .form-container {
    padding: 25px;
  }

  button[type="submit"] {
    padding: 16px 0;
    font-size: 1rem;
  }
  .card-try {
    padding: 17.5px 30px;
  }
}

@media (max-width: 750px) and (min-width: 520px) {
  .description,
  .agree {
    max-width: 80%;
  }

  .agree {
    margin: 0 auto;
  }
}
