body::after {
  content: "";
  position: absolute;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  height: 50vh;
  width: 100%;
  z-index: -1;
  bottom: 0;
  animation-name: smothy;
  animation-duration: 0.7s;
}

@keyframes smothy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $small-desktops) {
  body::after {
    background-image: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    animation: smoothy;
    animation-duration: 0.7s;
  }
  @keyframes smoothy {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
