@import "../abstracts/variables";

.container {
  padding: 2.5rem;
  border-radius: 10px;

  &:nth-of-type(1) {
    border-top-right-radius: 100px;
    width: 350px;
    max-width: 90%;
    margin-right: 30px;
  }

  &:nth-of-type(2) {
    position: relative;
    width: 540px;
    max-width: 90%;
    align-self: flex-end;
    p {
      span {
        font-weight: $bold;
      }
    }
  }
}
@media screen and (max-width: $small-desktops) {
  .container {
    &:nth-of-type(1) {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &:nth-of-type(2) {
      align-self: center;
      p {
        text-align: center;
      }
    }
  }
}
