/* ## Colors */

/* ### Primary */
$clr-violet: hsl(263, 55%, 52%);
$clr-violet-gray: hsl(217, 19%, 35%);
$clr-grayish-blue: hsl(219, 29%, 14%);
$clr-white: hsl(0, 0%, 100%);

/* ### Neutral */
$clr-gray: hsl(0%, 0%, 81%);
$clr-light-gray: hsl(210, 46%, 95%);

/* ## Font-weights */
$fw-medium: 500;
$fw-bold: 600;

/* ## Font*/
$ff-default: "Barlow Semi Condensed", sans-serif;

/* ## Mixins */
@mixin flexCenter($direction, $alig, $justify) {
  display: flex;
  align-items: $alig;
  justify-content: $justify;
  flex-direction: $direction;
}
