/* ## Colors */
/* ### Primary */
/* ### Neutral */
/* ## Font-weights */
/* ## Font*/
/* ## Mixins */
/* ## Colors */
/* ### Primary */
/* ### Neutral */
/* ## Font-weights */
/* ## Font*/
/* ## Mixins */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 1.5rem 2rem 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 22px 53px -15px #00000045;
          box-shadow: 0px 22px 53px -15px #00000045;
  cursor: pointer;
  outline: none;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1;
}

.card:focus {
  -webkit-box-shadow: 2px 22px 53px -10px #000000e1;
          box-shadow: 2px 22px 53px -10px #000000e1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 1.25rem;
}

.card .card-header div:nth-of-type(1) {
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.card .card-header div:nth-of-type(1) img {
  width: 100%;
}

.card .card-header div:nth-of-type(2) h3, .card .card-header div:nth-of-type(2) h4 {
  font-size: 0.8125rem;
  font-weight: 600;
}

.card .card-header div:nth-of-type(2) h4 {
  opacity: 0.5;
}

.card .card-body p:nth-of-type(1) {
  font-size: 1.26rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.card .card-body p:nth-of-type(2) {
  opacity: 0.7;
  font-size: 0.8125rem;
  line-height: 1.44;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

main {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-rows: 284px 267px;
      grid-template-rows: 284px 267px;
  width: 1111px;
  max-width: 95%;
  -webkit-animation-name: smooth;
          animation-name: smooth;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

@-webkit-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.card:nth-of-type(1) {
  background-color: #7541c8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  z-index: 1;
}

.card:nth-of-type(1)::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  width: 104px;
  height: 102px;
  left: 66%;
  top: 0;
}

.card:nth-of-type(2) {
  background-color: #48556a;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.card:nth-of-type(3), .card:nth-of-type(4) {
  background-color: white;
  color: #48556a;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.card:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.card:nth-of-type(5) {
  background-color: #19212e;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

@media only screen and (max-width: 1190px) {
  main {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 270px 250px;
        grid-template-rows: 1fr 270px 250px;
    max-width: 95%;
    width: 827px;
    -webkit-animation-name: smooth2;
            animation-name: smooth2;
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
  }
  @-webkit-keyframes smooth2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  @keyframes smooth2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  .card:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .card:nth-of-type(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .card:nth-of-type(3), .card:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .card:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .card:nth-of-type(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media only screen and (max-width: 900px) {
  main {
    margin: 60px 0;
    width: 541px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 285px 270px 290px;
        grid-template-rows: 1fr 285px 270px 290px;
    -webkit-animation-name: smooth3;
            animation-name: smooth3;
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
  }
  @-webkit-keyframes smooth3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  @keyframes smooth3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  .card:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .card:nth-of-type(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card:nth-of-type(3), .card:nth-of-type(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .card:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .card:nth-of-type(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 600px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    max-width: 95%;
    width: 330px;
    -webkit-animation-name: smooth2;
            animation-name: smooth2;
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
  }
  @-webkit-keyframes smooth2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  @keyframes smooth2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  .card:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .card:nth-of-type(1)::after {
    left: 60%;
  }
  .card:nth-of-type(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card:nth-of-type(3), .card:nth-of-type(4) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .card:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .card:nth-of-type(5) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
/*# sourceMappingURL=style.css.map */