@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-violet2: rgb(184, 173, 214);
  --clr-soft-magenta: hsl(300, 69%, 71%);

  --fw-400: 400;
  --fw-600: 600;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; /* body  Weights: 400, 600  */
  background: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--clr-violet);
  animation-name: smooth;
  animation-duration: 1s;
  
}
@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  max-width: 90%;
  margin: 0 auto;
}

nav {
  margin: 60px 0 min(5vw, 80px);
}

.nav-logo img {
  width: 200px;
  animation: jump 1.2s infinite;
}

@keyframes jump {
  0% {
    transform: scale(1.05, 0.95);
  }
  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.05, 0.95);
  }
}

section {
  display: flex;
  min-height: 500px;
}

.img-section {
  width: 54.5%;
  background: url(./images/illustration-mockups.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: left;
  animation-duration: 0.7s;
}

@keyframes left {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.content-section {
  margin-left: 52px;
  width: 44.5%;
  animation-name: roght;
  animation-duration: 0.7s;
}

@keyframes roght {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.content-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-600);
  color: white;
  font-size: min(2.65rem, 3vw);
  margin-top: 40px;
}

.content-section p {
  color: white;
  font-size: 1.175rem;
  line-height: 1.6;
  margin-top: 20px;
}

.content-section button {
  padding: 18px 30px;
  background-color: white;
  color: rgb(99, 99, 99);
  border-radius: 50px;
  border: none;
  outline: none;
  width: 200px;
  font-size: 1.2rem;
  margin-top: 28px;
  cursor: pointer;
  box-shadow: 0 25px 32px -2px rgb(0 0 0 / 18%),
    12px 0 26px -2px rgb(0 0 0 / 18%), -9px 0 21px -2px rgb(0 0 0 / 18%);
  animation-name: rught;
  animation-duration: 1s;
}

@keyframes rught {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-section button:hover {
  background-color: var(--clr-soft-magenta);
  color: white;
}

.content-section button:active {
  transform: translateY(3px);
  box-shadow: 0 25px 20px -2px rgb(0 0 0 / 30%),
    12px 0 26px -2px rgb(0 0 0 / 30%), -9px 0 21px -2px rgb(0 0 0 / 30%);
}

footer {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

footer ul {
  display: flex;
  list-style: none;
  animation-name: bottom;
  animation-duration: 0.6s;
}
@keyframes bottom {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

footer ul li {
  margin: 10px;
  border: 1px solid;
  color: white;
  border-color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

footer ul li i {
  font-size: 1.25rem;
  text-align: center;
}

footer ul li:active {
  transform: translateY(3px);
  box-shadow: 0 5px 10px -2px rgb(0 0 0 / 50%);
}

footer ul li:hover,
footer ul li i:hover {
  color: var(--clr-soft-magenta);
  border-color: var(--clr-soft-magenta);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background: url(./images/bg-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid transparent;
  width: 450px; /* Could be more or less, depending on screen size */
  max-width: 95%;
  border-radius: 10px;
  color: white;
  box-shadow: 0 25px 32px -2px rgb(0 0 0 / 18%),
    12px 0 26px -2px rgb(0 0 0 / 18%), -9px 0 21px -2px rgb(0 0 0 / 18%);
}

.nav-logo-form img {
  width: 100px;
}

.modal-content h2 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-container {
  margin: 0 auto;
  max-width: 330px;
  min-height: 250px;
  position: relative;
}

#message {
  margin-top: 100px;
  text-align: center;
}

#message span {
  font-style: italic;
  font-weight: var(--fw-600);
}

#message button {
  padding: 16px;
  color: white;
  background-color: rgb(37, 165, 37);
  font-weight: var(--fw-600);
  font-size: 1.1rem;
  width: 150px;
  margin-top: 30px;
}

#message button:active {
  transform: translateY(4px);
}

.form-container .text-confirm p {
  color: white;
  font-size: 1.3rem;
  font-weight: var(--fw-600);
}

.form-control {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.form-control input {
  margin-top: 4px;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  position: relative;
  outline: none;
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: rgb(247, 241, 241);
  font-weight: var(--fw-400);
}

.form-control label {
  font-size: 0.9rem;
  color: white;
  font-weight: var(--fw-600);
}

.form-control.error input {
  border-color: rgb(233, 50, 50);
  background-color: rgb(235, 212, 212);
}

.form-control.success input {
  border-color: rgb(44, 187, 44);
  background-color: rgb(205, 241, 205);
}

.form-control.success label {
  color: gb(44, 187, 44);
}

.form-control input:focus {
  box-shadow: 0px 1px 10px rgba(250, 250, 250, 0.692);
}

.form-control input::placeholder {
  color: rgba(88, 88, 88, 0.308);
}

.form-control i {
  display: none;
  position: absolute;
  right: 15px;
  top: 37px;
}

.form-control .fa-exclamation-circle {
  color: rgb(233, 50, 50);
  display: none;
}

.form-control.error .fa-exclamation-circle {
  display: block;
}
.form-control.success .fa-exclamation-circle {
  display: none;
}

.form-control.success .fa-check-circle {
  display: block;
  color: rgb(44, 187, 44);
}

.form-control small {
  position: absolute;
  display: none;
  color: rgb(233, 50, 50);
}

.form-control.error small {
  display: block;
}

.form-container button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: rgb(53, 158, 53);
  color: white;
  font-weight: var(--fw-600);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.692);
}

.form-container button:hover {
  background-color: rgb(43, 184, 43);
}

.form-container button:active {
  transform: translateY(3px);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  body {
    background: url(./images/bg-desktop.svg);
    background-color: var(--clr-violet);
    animation-name: smooth1;
    animation-duration: 1s;
    overflow-y: auto;
  }
  @keyframes smooth1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  nav {
    margin-left: 10%;
  }

  section {
    flex-direction: column;
  }

  .content-section {
    margin-left: 10%;
    position: relative;
    width: 80%;
  }
  .content-section h1 {
    font-size: 31.8px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 400px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .content p {
    width: 60%;
    text-align: left;
  }

  .content button {
    width: 30%;
  }

  .img-section {
    content: url(./images/illustration-mockups.svg);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  footer {
    justify-content: center;
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
    animation-name: smooth2;
    animation-duration: 1s;
  }
  @keyframes smooth2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .content-section h1 {
    margin-bottom: 1rem;
  }
  .content {
    display: block;

    text-align: center;
  }

  .content p {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .content button {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5rem;
  }
}

@media (max-width: 600px) {
  body {
    overflow-y: auto;
  }
  .content p {
    width: 100%;
  }
  .img-section {
    width: 90%;
  }
  nav {
    margin-left: 5%;
  }
  .content-section h1 {
    font-size: 26px;
  }

  .modal-content {
    margin: 25% auto; /* 15% from the top and centered */
    padding: 10px;
  }
}
