@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* ## Colors */

  /* ### Primary */
  --clr-medium-red: hsl(356, 100%, 66%); /*  (CTA text) */
  --clr-light-red: hsl(355, 100%, 74%); /*  (CTA hover background) */
  --clr-dark-blue: hsl(208, 49%, 24%); /* (headings) */

  /* ### Neutral */
  --clr-white: hsl(0, 0%, 100%); /* (text) */
  --clr-neutral-light-grayish-blue: hsl(240, 2%, 79%); /* (footer text) */
  --clr-neutral-grayish-blue: hsl(207, 13%, 34%); /* (body copy) */
  --clr-neutral-blue-darker: hsl(240, 10%, 16%); /* (footer background) */

  --fw-ubuntu-400: 400;
  --fw-ubuntu-500: 500;
  --fw-ubuntu-700: 700;
  --fw-overpass-300: 300;
  --fw-overpass-600: 600;

  --ff-ubuntu: "Ubuntu", sans-serif;
  --ff-overpass: "Overpass", sans-serif;
}

/* ############## Global */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  padding: 13px;
  border-radius: 50px;
  display: inline-block;
  width: 138px;
  text-align: center;
  font-weight: var(--fw-ubuntu-500);
  border: 1px solid transparent;
}

.btn-primary {
  background-color: var(--clr-white);
  color: var(--clr-medium-red);
}
.btn-secondary {
  background-color: transparent;
  border-color: var(--clr-white);
}

.btn-link {
  width: 80px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.open {
  display: block;
}

/* ############## Header */

header {
  color: var(--clr-white);
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  right: 0;
  background: url(./images/bg-pattern-intro.svg);
  background-color: var(--clr-light-red);
  background-position: 25% 50%;
  background-size: 205%;
  z-index: -1;
}

.navbar {
  display: flex;
  padding-top: 60px;
}

.nav-logo {
  margin-right: 12px;
}

.nav-menu {
  flex: 1;
}

.nav-menu ul {
  display: flex;
  height: 100%;
}

.nav-menu li {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 40px;
  position: relative;
}

.nav-menu li:nth-of-type(1) {
  width: 72px;
}
.nav-menu li:nth-of-type(2) {
  width: 82px;
}
.nav-menu li:nth-of-type(3) {
  width: 75px;
}

.nav-login ul {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}

.nav-login ul:nth-child(1) {
  margin-right: 20px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown::after {
  content: url(./images/icon-arrow-light.svg);
  position: absolute;
  width: 25px;
  right: -16px;
  cursor: pointer;
}

.dropdown .dropdown:hover .drop-btn {
  text-decoration: underline;
  text-shadow: 0 0 0.95px rgb(255, 255, 255), 0 0 0.95px rgb(255, 255, 255);
}

.dropdown:hover::after {
  transform: rotate(180deg) translate(51%, -3px);
  animation-name: entry;
  animation-duration: 0.5s;
}

@keyframes entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  font-weight: var(--fw-ubuntu-700);
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 45px;
  background-color: var(--clr-white);
  color: var(--clr-dark-blue);
  width: 160px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 12px 33px 0px rgb(0 0 0 / 30%);
  animation-name: smooth-entry;
  animation-duration: 0.5s;
  font-weight: var(--fw-ubuntu-400);
  padding: 30px;
}

.dropdown-content a {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px 0;
}

.drop-btn {
  cursor: pointer;
}

@keyframes smooth-entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Intro Section */

.intro {
  padding: 128px 0 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro h1 {
  margin-bottom: 26px;
  font-size: 3.5rem;
  font-weight: var(--fw-ubuntu-500);
}

.intro h4 {
  margin-bottom: 50px;
  font-weight: var(--fw-overpass-300);
  font-size: 1.25rem;
  font-family: var(--ff-overpass);
}

.intro-buttons a {
  margin: 0 10px;
}
