/* Colors */

/* ## Gradient */
$gradient: linear-gradient(#ffa399, #ff4d97);

/* ### Neutral */
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$medium-blue: hsl(228, 56%, 26%);
$dark-blue: #0c122c;

/* Font-weights */
$normal: 400;
$bold: 700;

/* Breakpoins */

$small-desktops: 990px;
