:root {
  /* Colors */

  /* ### Primary */
  --clr-blue: hsl(220, 98%, 61%);
  --clr-check-background: linear-gradient hsl(192, 100%, 67%) to
    hsl(280, 87%, 65%);

  /* ### Neutral */

  /* ### Light Theme */
  --clr-light-very-light-gray: hsl(0, 0%, 98%);
  --clr-light-very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --clr-Light-Grayish-Blue: hsl(233, 11%, 84%);
  --clr-light-Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --clr-light-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* ### Dark Theme */
  --clr-dark-Very-Dark-Blue: hsl(235, 21%, 11%);
  --clr-dark-Ver-Dar-Desaturated-Blue: hsl(235, 24%, 19%);
  --clr-dark-Ligh-Grayis-Blue: hsl(234, 39%, 85%);
  --clr-dark-Ligh-Grayis-Blue-hover: hsl(236, 33%, 92%);
  --clr-dark-Dar-Grayis-Blue: hsl(234, 11%, 52%);
  --clr-dark-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --clr-dark-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10141e;
  flex-direction: column;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

body::after {
  content: "";
  position: absolute;
  background-image: url(./images/bg-desktop-dark.jpg);
  width: 100%;
  height: 300px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 10px;
  user-select: none;
}

header div {
  display: flex;
}

header h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  font-size: 2.5rem;
  transform: translateY(5px);
}

main {
  margin-top: 47px;
  width: 540px;
  max-width: 95%;
}

.form-control {
  width: 100%;
  background-color: #1f2739;
  border-radius: 5px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: center;
}

.form-control.error .counterChar {
  color: #c35f5f;
}

.form-control input {
  width: calc(100% - 40px);
  display: inline-block;
  outline: none;
  border: none;
  height: 100%;
  font-size: 1.125rem;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 5px;
  padding: 20px;
  background-color: #1f2739;
  color: var(--clr-dark-Ligh-Grayis-Blue);
}

.todo-list-container {
  margin: 0 auto;
  margin-top: 30px;
}

.todo-list {
  list-style: none;
}

.counterChar {
  color: var(--clr-dark-Ligh-Grayis-Blue);
  position: absolute;
  font-size: 0.7rem;
  bottom: 2px;
  right: 5px;
}

.todo-list li {
  position: relative;
  background-color: #1f2739;
  color: var(--clr-dark-Ligh-Grayis-Blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.125rem;
  min-height: 60px;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}
.todo-list li.completed .todo-text {
  color: var(--clr-dark-Dar-Grayis-Blue);
  text-decoration: line-through;
}

.todo-list li p {
  user-select: none;
  padding: 5px;
  padding-top: 9px;
  margin-right: 40px;
  outline: none;
  margin-left: 24px;
  min-width: 75%;
}

.todo-list li span {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

.todo-list li span img {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%) scale(0.9);
  pointer-events: none;
  display: none;
}

.todo-list li:hover span img {
  display: block;
  animation-name: smooth;
  animation-duration: 0.7s;
}
.todo-list li:hover {
  background-color: #1b2335;
  color: var(--clr-light-very-Light-Grayish-Blue);
}

@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.check {
  width: 25px;
  position: relative;
  height: 24px;
  border-radius: 50px;
  margin-left: 24px;
  cursor: pointer;
  background: linear-gradient(155deg, #7bc4f6 0%, #7bc4f6 30%, #bf58f38f);
}

.check:hover::before {
  background-color: #171e2e;
}

.check::before {
  background-color: #1f2739;
  content: "";
  position: absolute;
  border-radius: 50px;
  width: 93%;
  height: 93%;
  top: 1px;
  left: 1px;
}

.check.completed::before {
  content: none;
}

.check.completed::after {
  content: "";
  position: absolute;
  background-image: url(./images/icon-check.svg);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 34%;
  left: 30%;
}

.check.completed {
  background: linear-gradient(155deg, #7bc4f6 0%, #7bc4f6 30%, #bf58f38f);
}

.check:hover {
  border-color: var(-clr-check-background);
}

.todo-list li.editable {
  cursor: text;
  color: rgba(0, 0, 0, 0.795);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.247);
}

.todo-list li.editable p {
  border-bottom: 1px solid rgba(143, 142, 142, 0.308);
  color: white;
}

.todo-list li.completed.editable p {
  color: white;
  text-decoration: none;
}

.todo-control {
  background-color: #1f2739;
  font-weight: 700;
  color: var(--clr-dark-Dar-Grayis-Blue);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  min-height: 40px;
  padding: 0 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.todo-control .controls span:hover {
  color: var(--clr-dark-Ligh-Grayis-Blue);
}

.todo-control .clear span:hover {
  color: var(--clr-dark-Ligh-Grayis-Blue);
}

.todo-control div:nth-of-type(2) span {
  margin-left: 0.8rem;
}

.todo-control > * {
  cursor: pointer;
  user-select: none;
}

.todo-control div:nth-of-type(1) {
  cursor: default;
  user-select: none;
}

.todo-control span {
  display: inline-block;
  padding: 16px 0;
}

.todo.disabled {
  display: none;
}

.form-control input[type="text"] {
  caret-color: var(--clr-blue);
}

body.dark {
  color: white;
  background-color: black;
}

body.dark main {
  color: black;
}

footer div {
  margin: 52px 0;
  color: var(--clr-dark-Dar-Grayis-Blue);
  font-size: 0.8rem;
  font-weight: 700;
}

.msg {
  position: absolute;
  font-size: 0.778rem;
  color: #c35f5f;
  top: 50px;
  left: 14%;
}
