*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(176, 218, 214);
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  height: 80px;
  border-radius: 10px;
  padding: 0 80px;
}

header h1 {
  text-transform: uppercase;
  color: white;
}

main {
  margin-top: 50px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  display: flex;
}

.form-control input[type="text"] {
  width: calc(100% - 40px);
  display: inline-block;
  outline: none;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
}

.form-control input[type="submit"] {
  height: 100%;
  width: 80px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.todo-list-container {
  margin: 0 auto;
  margin-top: 30px;
}

.todo-list {
  list-style: none;
}

.todo-list li {
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  min-height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
  user-select: none;
}

.todo-list li p {
  pointer-events: none;
  user-select: none;
  padding-left: 10px;
  padding-right: 50px;
}

.todo-list li span {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

.todo-list li span i {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
}
