:root {
  /* ## Colors  */
  /* ## Primary  */
  --clr-primary-light-cyan: hsl(174, 77%, 80%);
  --clr-strong-cyan: #10d5c2;
  --clr-primary-light-red: #feece7;
  -clr-primary-light-red: #ff8c66;
  --clr-primary-pale-blue: hsl(226, 100%, 87%);

  /* ## Neutral  */
  --clr-neutral-white: white;
  --clr-neutral-very-pale-blue: hsl(230, 100%, 99%); /*  (Main Background) */
  --clr-light-grayish-blue: #eaeefb; /* (Empty Slider Bar) */
  --clr-light-grayish-blue: hsl(223, 50%, 87%); /* (Toggle Background) */
  --clr-grayish-blue: hsl(225, 20%, 60%); /* (Text) */
  --clr-dark-desaturated-blue: hsl(227, 35%, 25%); /* (Text & CTA Background) */

  /* Font Weights */
  --fw-bold: 600;
  --fw-bolder-extreme: 800;
}

/* ##################Root styles  */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--clr-neutral-very-pale-blue);
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ps-relative {
  position: relative;
}

/* ####################Header */

header {
  text-align: center;
  margin-bottom: 90px;
  position: relative;
  animation-name: smooth-entry-2;
  animation-duration: 0.9s;
}

header h1 {
  padding-top: 6.875rem;
  padding-bottom: 0.9375rem;
  font-size: 2rem;
  color: var(--clr-dark-desaturated-blue);
}

header p {
  color: var(--clr-grayish-blue);
  font-size: 0.9375rem;
}

header div {
  text-align: center;
  margin: 0 auto;
  width: 540px;
  max-width: 95%;
  position: relative;
}

header::after {
  content: "";
  background-image: url(./images/pattern-circles.svg);
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 146px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}
main {
  width: 540px;
  max-width: 95%;
  margin: 0 auto;
  background-color: var(--clr-neutral-white);
  border-radius: 10px;
  padding: 2.9375rem;
  padding-bottom: 37px;
  margin-bottom: 137px;
  box-shadow: 5px 0 33px 5px #eaeefb99, 0 5px 26px 5px #eaeefb91,
    -5px 0 1px 0px #eaeefb94;
  animation-name: smooth-entry-2;
  animation-duration: 0.9s;
}

@keyframes smooth-entry-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main h3 {
  text-transform: uppercase;
  color: var(--clr-grayish-blue);
  letter-spacing: 3px;
  font-size: 0.95rem;
}

.price-month h2 {
  color: var(--clr-dark-desaturated-blue);
  font-size: 2.5rem;
  margin-right: 6px;
}

.price-month small {
  color: var(--clr-grayish-blue);
  letter-spacing: 3px;
  font-size: 0.95rem;
}

.slidecontainer {
  padding-top: 28px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;

  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  background-color: var(--clr-strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: 65%;
  box-shadow: 1px 0px 15px var(--clr-primary-light-cyan),
    0px 2px 15px var(--clr-primary-light-cyan);
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #4ba8a1;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background-color: #4ba8a1;
}

#myInput {
  background: linear-gradient(
    to right,
    var(--clr-strong-cyan) 0%,
    var(--clr-strong-cyan) 50%,
    #eaeefb 50%,
    #eaeefb 100%
  );
  border: solid 1px transparent;
  border-radius: 8px;
  height: 8px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.toggle-container {
  position: relative;
  margin-top: 50px;
  transform: translateX(-0.8rem);
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  min-width: 42px;
  height: 22px;
  margin: 0 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:checked + .slider-toggle {
  background-color: var(--clr-strong-cyan);
}

.toggle:focus + .slider-toggle {
  box-shadow: 2px 0 5px #a5a5a5b4, -2px 0 5px #a5a5a5b4;
}

.toggle:checked + .slider-toggle:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}

.toggle-container {
  margin-top: 40px;
  margin-bottom: 35px;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.toggle-container h4 {
  font-weight: normal;
  font-size: 0.95rem;
  color: var(--clr-grayish-blue);
}

.toggle-container h4:nth-of-type(2)::after {
  content: "25% discount";
  position: absolute;
  width: 137%;
  padding: 1px 1px;
  border-radius: 50px;
  background: #feece7;
  left: 112%;
  font-size: 0.85rem;
  color: #ff8c66;
}

.card-header {
  position: relative;
  margin-bottom: 20px;
}

.card-header::after {
  content: "";
  width: 120%;
  border: 1px solid #f1f1f5;
  margin-left: -10%;
  position: absolute;
}

.card-footer {
  padding-top: 33px;
}

.card-footer ul li {
  margin-bottom: 10px;
}

.card-footer ul li a {
  color: var(--clr-grayish-blue);
  font-size: 0.9rem;
  position: relative;
  outline: none;
}

.card-footer ul li a:focus {
  border-bottom: 1px solid var(--clr-grayish-blue);
}

.card-footer ul li a::before {
  content: url(./images/icon-check.svg);
  position: absolute;
  top: 0;
  left: -20px;
}

.card-footer button {
  background-color: var(--clr-dark-desaturated-blue);
  color: var(--clr-neutral-white);
  border-radius: 50px;
  outline: none;
  border: none;
  font-weight: var(--fw-bolder-extreme);
  padding: 15px 30px;
  width: 170px;
  cursor: pointer;
}

.card-footer button:hover {
  background-color: hsl(227, 24%, 15%);
}

.card-footer button:active {
  transform: translateY(2px);
}

.card-footer button:focus {
  box-shadow: 3px 0 20px rgba(0, 0, 0, 0.322), 0px 3px 20px rgba(0, 0, 0, 0.322);
}

.mobile-price {
  display: none;
}

@media screen and (max-width: 700px) {
  header {
    animation-name: smooth-entry;
    animation-duration: 0.9s;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header p {
    max-width: 200px;
    margin: 0 auto;
    line-height: 1.9;
  }

  main {
    width: 400px;
    animation-name: smooth-entry;
    animation-duration: 0.9s;
  }

  @keyframes smooth-entry {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .jc-center-mobile {
    justify-content: center;
  }
  .price-month {
    display: none;
  }
  .mobile-price {
    margin-top: 40px;
    display: flex;
  }
  .toggle-container h4:nth-of-type(2)::after {
    content: "-25%";
    position: absolute;
    width: 57%;
    padding: 1px 1px;
    border-radius: 50px;
    background: #feece7;
    left: 112%;
    font-size: 0.85rem;
    color: #ff8c66;
  }

  .slidecontainer {
    padding-top: 35px;
  }

  .card-footer {
    flex-direction: column;
  }

  .card-footer button {
    margin-top: 30px;
  }
}

@media screen and (max-width: 350px) {
  main {
    padding: 1.5375rem;
    padding-top: 2.9375rem;
  }
  .toggle-container {
    flex-direction: column;
    animation-name: smothy3;
    animation-duration: 0.9s;
  }

  @keyframes smothy3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .switch {
    margin: 16px 0;
  }

  .jc-center-mobile {
    text-align: center;
  }
}
