:root {
  /* ## Colors  */
  /* ## Primary  */
  --clr-primary-light-cyan: hsl(174, 77%, 80%);
  --clr-strong-cyan: hsl(174, 86%, 45%);
  --clr-primary-light-red: hsl(14, 92%, 95%);
  -clr-primary-light-red: hsl(15, 100%, 70%);
  --clr-primary-pale-blue: hsl(226, 100%, 87%);

  /* ## Neutral  */
  --clr-neutral-white: hsl (0, 0%, 100%);
  -clr-neutral-very-pale-blue: hsl(230, 100%, 99%); /*  (Main Background) */
  --clr-light-grayish-blue: hsl(224, 65%, 95%); /* (Empty Slider Bar) */
  --clr-light-grayish-blue: hsl(223, 50%, 87%); /* (Toggle Background) */
  --clr-grayish-blue: hsl(225, 20%, 60%); /* (Text) */
  --clr-dark-desaturated-blue: hsl(227, 35%, 25%); /* (Text & CTA Background) */

  /* Font Weights */
  --fw-bold: 600;
  --fw-bolder-extreme: 800;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  height: 449px;
}

header h1 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 2rem;
  color: var(--clr-dark-desaturated-blue);
}

header p {
  color: var(--clr-grayish-blue);
  font-size: 0.9375rem;
}

header div {
  text-align: center;
  margin: 0 auto;
  width: 540px;
  max-width: 95%;
  position: relative;
}

header div::after {
  content: "";
  background-image: url(./images/pattern-circles.svg);
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 146px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
}
