/* Colors */

/* ## Gradient */
$gradient: linear-gradient(rgb(255, 163, 153), hsl(335, 100%, 65%));

/* ### Neutral */
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$medium-blue: hsl(228, 56%, 26%);
$dark-blue: hsl(229, 57%, 11%);

/* Font-weights */
$normal: 400;
$bold: 700;
