@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /*  ## Colors */

  /* ### Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* ### Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Spartan", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: 70%;
}

.top-card-information {
  display: flex;
  width: 100%;
  height: 50%;
  padding-bottom: 40px;
}

.main-information {
  width: 50%;
  padding-right: 10%;
}

.main-information h1 {
  font-size: 2.7rem;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  color: var(--very-dark-magenta);
}

.main-information p {
  color: var(--dark-grayish-magenta);
}

.rating-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating {
  background-color: var(--light-grayish-magenta);
  max-width: 80%;
  display: flex;
  padding: 15px;
  font-size: 12.5px;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.rating.second {
  transform: translateX(15%);
}
.rating.third {
  transform: translateX(100px);
}

.stars {
  margin-right: 5%;
}

.cards {
  display: flex;
  height: 50%;
}

p {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
