@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* ## Colors */

  /* ### Primary */
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-yellow: hsl(71, 73%, 54%);

  /* ### Neutral */
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);

  /* ### Weights */
  --fw-light: 400;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--clr-light-gray);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 640px;
  max-width: 95%;
  max-height: 480px;
  border-radius: 10px;
  overflow: hidden;
}

h1,
h2,
p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

.header {
  background-color: white;
  padding: 40px;
}

.header h1 {
  color: var(--clr-cyan);
  font-size: 1.52rem;
  margin-bottom: 28px;
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.header h2 {
  font-size: 1.14rem;
  background: linear-gradient(0deg, #d9d585, #c2c063);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 9px;
}

.header p {
  color: var(--clr-grayish-blue);
  line-height: 1.6;
}

.card-footer {
  display: flex;
  width: 100%;
}

.price {
  padding: 40px;
  width: 100%;
  color: white;
  background-color: #4fb1b1;
}

.price h1 {
  font-size: 2rem;
  display: inline-block;
  margin-right: 10px;
}

.price h2 {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.price small {
  transform: translateY(-5px);
  display: inline-block;
  color: var(--clr-light-gray);
  font-size: 1rem;
}

.price p {
  font-size: 1rem;
  margin-bottom: 27px;
  margin-top: 6px;
}

.price button {
  padding: 1rem 20px;
  font-size: 1rem;
  box-shadow: 0 12px 28px -5px hsl(0deg 0% 0% / 30%);
  color: white;
  font-weight: var(--fw-bold);
  background-color: #c8cc3b;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.price button:hover {
  transform: scale(1.04);
}

.price button:active {
  transform: translateY(5px);
  box-shadow: 0 12px 28px -5px hsl(0deg 0% 0% / 70%);
}

.footer {
  width: 100%;
  padding: 40px;
  background-color: #63bcbd;
}

.footer h2 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: white;
}

.footer ul li {
  color: var(--clr-light-gray);
  font-size: 0.9rem;
  line-height: 1.4;
}

@media (max-width: 670px) {
  main {
    margin: 60px 0;
    width: 313px;
    max-width: 95%;
    max-height: initial;
  }

  .header {
    padding: 24px;
  }

  .header h1 {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 25px;
  }

  .header h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .header p {
    line-height: 1.8;
    font-size: 0.85rem;
    margin-bottom: 5px;
  }

  .price {
    padding: 24px;
  }

  .price button {
    margin: 5px 0;
  }

  .footer {
    padding: 24px;
  }
  .card-footer {
    flex-direction: column;
  }
}
