*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
body {
  font-size: 16px;
}

main {
  padding: 9.9375rem 0;
  max-width: 1116px;
  margin: 0 auto;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
header {
  height: 650px;
  position: relative;
  color: white;
}

header div:nth-of-type(1):not(:first-child) {
  max-width: 1116px;
  margin: 0 auto;
  margin-top: 138px;
}

header div:nth-of-type(1):not(:first-child) h1 {
  font-size: 4.4rem;
  border: 2px solid white;
  max-width: 650px;
  height: 280px;
  padding: 2.625rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

header::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-image: url("../../images/desktop/image-hero.jpg");
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
nav {
  max-width: 1116px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 3.9375rem;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
article {
  position: relative;
  margin-bottom: 11.25rem;
}

article div {
  height: 500px;
}

article aside {
  position: absolute;
  background-color: white;
  padding: 0 5.875rem;
  padding-top: 5.875rem;
  bottom: -1px;
  right: -8%;
}

article aside h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  text-transform: uppercase;
  max-width: 447px;
  padding-bottom: 2.5rem;
}

article aside p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  max-width: 447px;
  color: #8c8c8c;
  font-size: 0.9375rem;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
section div h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  text-transform: uppercase;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
.cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.cards .card {
  height: 450px;
  width: 256px;
  position: relative;
}

.cards .card h3 {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.1rem;
  max-width: 75%;
  color: white;
  bottom: 5%;
  left: 15%;
  color: white;
}

.cards .card:nth-of-type(1)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-deep-earth.jpg");
}

.cards .card:nth-of-type(1)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(2)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-night-arcade.jpg");
}

.cards .card:nth-of-type(2)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.596)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.596));
}

.cards .card:nth-of-type(3)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-soccer-team.jpg");
}

.cards .card:nth-of-type(3)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(4)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-grid.jpg");
}

.cards .card:nth-of-type(4)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(5)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-from-above.jpg");
}

.cards .card:nth-of-type(5)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(6)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-pocket-borealis.jpg");
}

.cards .card:nth-of-type(6)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(7)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-curiosity.jpg");
}

.cards .card:nth-of-type(7)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(8)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  background-image: url("../../images/desktop/image-fisheye.jpg");
}

.cards .card:nth-of-type(8)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* filter: brightness(90%); */
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar ul li {
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 1%;
  background-color: transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar ul li:hover {
  text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
}

.navbar ul li:hover::after {
  background-color: white;
  width: 120%;
}

.navbar ul li:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar ul li a {
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
}

.hamburguer {
  display: none;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5.625rem;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
section .desktop-button, section .mobile-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 43px;
  cursor: pointer;
  border: 1px solid dimgray;
}

section .desktop-button a, section .mobile-button a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 0.82rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

section .mobile-button {
  display: none;
}
/*# sourceMappingURL=main.css.map */