*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
body {
  font-size: 16px;
}

main {
  padding: 9.9375rem 0;
  width: 1116px;
  max-width: 90%;
  margin: 0 auto;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
header {
  height: 650px;
  position: relative;
  color: white;
}

header div:nth-of-type(1):not(:first-child) {
  width: 1116px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 138px;
}

header div:nth-of-type(1):not(:first-child) h1 {
  font-size: 4.4rem;
  border: 2px solid white;
  max-width: 650px;
  height: 280px;
  padding: 2.625rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

header::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-image: url("../../images/desktop/image-hero.jpg");
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
nav {
  width: 1116px;
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 3.9375rem;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
article {
  position: relative;
  margin-bottom: 11.25rem;
  overflow: hidden;
}

article div {
  height: 500px;
}

article div img {
  max-width: 100%;
}

article aside {
  position: absolute;
  background-color: white;
  padding: 0 5.875rem;
  padding-top: 5.875rem;
  bottom: -1px;
  right: -8%;
}

article aside h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  text-transform: uppercase;
  max-width: 447px;
  padding-bottom: 2.5rem;
}

article aside p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  max-width: 447px;
  color: #8c8c8c;
  font-size: 0.9375rem;
}

@media screen and (max-width: 1280px) {
  article div {
    /* width: 70%; */
  }
  article aside {
    padding: calc(min(5vw, 5.875rem));
    padding-bottom: 0;
  }
}

@media screen and (max-width: 980px) {
  article div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin: 0 auto;
    height: unset;
  }
  article aside {
    padding: 5.875rem;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    right: unset;
  }
  article aside h2 {
    text-align: center;
  }
  article aside p {
    text-align: center;
  }
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
section div h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  text-transform: uppercase;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
footer {
  background-color: black;
  padding-top: 43px;
  padding-bottom: 2rem;
}

footer .container {
  width: 1116px;
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container span {
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

footer .container .logo {
  margin-bottom: 2rem;
  cursor: pointer;
}

footer .container .footer-links {
  padding-bottom: 2rem;
}

footer .container .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container .footer-links ul li {
  position: relative;
}

footer .container .footer-links ul li:not(:last-of-type) {
  margin-right: 1rem;
}

footer .container .footer-links ul li::after {
  content: "";
  height: 2px;
  width: 1%;
  background-color: transparent;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container .footer-links ul li:hover {
  text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
}

footer .container .footer-links ul li:hover::after {
  background-color: white;
  width: 120%;
}

footer .container .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container .footer-nav ul li {
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

footer .container .footer-nav ul li::after {
  content: "";
  height: 2px;
  width: 1%;
  background-color: transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container .footer-nav ul li:hover {
  text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
}

footer .container .footer-nav ul li:hover::after {
  background-color: white;
  width: 120%;
}

footer .container .footer-nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

footer .container .footer-nav ul li a {
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
.cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-animation-name: smooth-cards1;
          animation-name: smooth-cards1;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.cards .card {
  height: 450px;
  max-width: 256px;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.cards .card h3 {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.1rem;
  max-width: 75%;
  color: white;
  bottom: 5%;
  left: 15%;
  color: white;
}

.cards .card h3::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: 200%;
  -webkit-clip-path: circle(11px);
          clip-path: circle(11px);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.712);
  -webkit-transition: -webkit-transform 0.45s ease;
  transition: -webkit-transform 0.45s ease;
  transition: transform 0.45s ease;
  transition: transform 0.45s ease, -webkit-transform 0.45s ease;
}

.cards .card:nth-of-type(1)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-deep-earth.jpg");
}

.cards .card:nth-of-type(1)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(1):hover h3, .cards .card:nth-of-type(1):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(1):hover h3::after, .cards .card:nth-of-type(1):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(1):hover::before, .cards .card:nth-of-type(1):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(2)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-night-arcade.jpg");
}

.cards .card:nth-of-type(2)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(2):hover h3, .cards .card:nth-of-type(2):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(2):hover h3::after, .cards .card:nth-of-type(2):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(2):hover::before, .cards .card:nth-of-type(2):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(3)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-soccer-team.jpg");
}

.cards .card:nth-of-type(3)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(3):hover h3, .cards .card:nth-of-type(3):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(3):hover h3::after, .cards .card:nth-of-type(3):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(3):hover::before, .cards .card:nth-of-type(3):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(4)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-grid.jpg");
}

.cards .card:nth-of-type(4)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(4):hover h3, .cards .card:nth-of-type(4):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(4):hover h3::after, .cards .card:nth-of-type(4):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(4):hover::before, .cards .card:nth-of-type(4):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(5)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-from-above.jpg");
}

.cards .card:nth-of-type(5)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(5):hover h3, .cards .card:nth-of-type(5):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(5):hover h3::after, .cards .card:nth-of-type(5):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(5):hover::before, .cards .card:nth-of-type(5):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(6)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-pocket-borealis.jpg");
}

.cards .card:nth-of-type(6)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(6):hover h3, .cards .card:nth-of-type(6):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(6):hover h3::after, .cards .card:nth-of-type(6):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(6):hover::before, .cards .card:nth-of-type(6):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(7)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-curiosity.jpg");
}

.cards .card:nth-of-type(7)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(7):hover h3, .cards .card:nth-of-type(7):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(7):hover h3::after, .cards .card:nth-of-type(7):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(7):hover::before, .cards .card:nth-of-type(7):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

.cards .card:nth-of-type(8)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../images/desktop/image-fisheye.jpg");
}

.cards .card:nth-of-type(8)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: initial;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.363)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363));
}

.cards .card:nth-of-type(8):hover h3, .cards .card:nth-of-type(8):focus h3 {
  color: black;
  z-index: 1;
}

.cards .card:nth-of-type(8):hover h3::after, .cards .card:nth-of-type(8):focus h3::after {
  -webkit-transform: scale(60);
          transform: scale(60);
  z-index: -1;
}

.cards .card:nth-of-type(8):hover::before, .cards .card:nth-of-type(8):focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.568)), to(rgba(255, 255, 255, 0.555)));
  background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.555));
}

@-webkit-keyframes smooth-cards1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-cards1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    -webkit-animation-name: smooth-cards;
            animation-name: smooth-cards;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
  }
  .cards .card {
    -ms-grid-column-align: center;
        justify-self: center;
    height: 520px;
    max-width: 336px;
  }
  .cards .card h3 {
    max-width: 60%;
  }
  .cards .card:nth-of-type(7) {
    -webkit-transform: translateX(57%);
            transform: translateX(57%);
  }
  .cards .card:nth-of-type(8) {
    -webkit-transform: translateX(57%);
            transform: translateX(57%);
  }
  @-webkit-keyframes smooth-cards {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes smooth-cards {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 980px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .cards .card:nth-of-type(1) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .cards .card:nth-of-type(2) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .cards .card:nth-of-type(3) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .cards .card:nth-of-type(4) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .cards .card:nth-of-type(5) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .cards .card:nth-of-type(6) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .cards .card:nth-of-type(7) {
    -ms-grid-column-align: end;
        justify-self: end;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .cards .card:nth-of-type(8) {
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar ul li {
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 1%;
  background-color: transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar ul li:hover {
  text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
}

.navbar ul li:hover::after {
  background-color: white;
  width: 120%;
}

.navbar ul li:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar ul li a {
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
}

.hamburguer {
  display: none;
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5.625rem;
}

@media screen and (max-width: 980px) {
  .section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-header h2 {
    text-align: center;
  }
}

/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
/* ## Colors */
/* ## Fonts / Weight */
/* Paddings */
/* Navigation */
section .desktop-button, section .mobile-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 43px;
  cursor: pointer;
  border: 1px solid dimgray;
  font-weight: bold;
  position: relative;
}

section .desktop-button::after, section .mobile-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 0px;
  width: 0px;
  top: 50%;
  left: 50%;
  background-color: black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section .desktop-button:hover, section .mobile-button:hover, section .desktop-button:focus, section .mobile-button:focus {
  /* background-color: black; */
  -webkit-animation-name: button-entry;
          animation-name: button-entry;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

section .desktop-button:hover::after, section .mobile-button:hover::after, section .desktop-button:focus::after, section .mobile-button:focus::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: black;
}

section .desktop-button:hover a, section .mobile-button:hover a, section .desktop-button:focus a, section .mobile-button:focus a {
  color: white;
  font-weight: bold;
}

section .desktop-button a, section .mobile-button a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 0.82rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

section .mobile-button {
  display: none;
}

@media screen and (max-width: 980px) {
  section .desktop-button, section .mobile-button {
    display: none;
  }
  section .mobile-button {
    margin: 0 auto;
    margin-top: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .mobile-button a {
    display: inline-block;
  }
}
/*# sourceMappingURL=main.css.map */