@import "../abstracts/mixins";
@import "../abstracts/variables";

article {
  position: relative;
  margin-bottom: 11.25rem;
  overflow: hidden;
  div {
    height: 500px;
    img {
      max-width: 100%;
    }
  }
  aside {
    position: absolute;
    background-color: $white;
    padding: 0 5.875rem;
    padding-top: 5.875rem;
    bottom: -1px;
    right: -8%;

    h2 {
      @include fontTitle();
      font-size: 3.2rem;
      text-transform: uppercase;
      max-width: 447px;
      padding-bottom: 2.5rem;
    }

    p {
      @include fontSubTitle();
      max-width: 447px;
      color: $gray;
      @include sizeFontDefault();
    }
  }
}

@media screen and (max-width: 1280px) {
  article {
    div {
      /* width: 70%; */
    }
    aside {
      padding: calc(min(5vw, 5.875rem));
      padding-bottom: 0;
      animation-name: smooth5;
      animation-duration: 0.7s;
    }
    @keyframes smooth5 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  article {
    div {
      @include flexContainer(center, center, row);
      width: 100%;
      margin: 0 auto;
      height: unset;
    }
    aside {
      padding: 5.875rem 0 0;
      @include flexContainer(center, center, column);
      position: relative;
      right: unset;
      animation-name: smooth4; /* How to use scss with keyframes? */
      animation-duration: 0.7s;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        line-height: 1.9;
        font-size: 1.2407rem;
      }
    }
    @keyframes smooth4 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
