@import "../abstracts/mixins";
@import "../abstracts/variables";

article {
  position: relative;
  margin-bottom: 11.25rem;
  div {
    height: 500px;
  }
  aside {
    position: absolute;
    background-color: $white;
    padding: 0 5.875rem;
    padding-top: 5.875rem;
    bottom: -1px;
    right: -8%;

    h2 {
      @include fontTitle();
      font-size: 3.2rem;
      text-transform: uppercase;
      max-width: 447px;
      padding-bottom: 2.5rem;
    }

    p {
      @include fontSubTitle();
      max-width: 447px;
      color: $dark-gray;
      @include sizeFontDefault();
    }
  }
}
