@import "../abstracts/mixins";
@import "../abstracts/variables";

footer {
  background-color: black;
  padding-top: 43px;
  padding-bottom: 2rem;
  .container {
    span {
      color: $gray;
      @include fontSubTitle();
    }
    @include containerDesktop();
    @include flexContainer(center, space-between, row);
    .logo {
      margin-bottom: 2rem;
      cursor: pointer;
    }
    .footer-links {
      padding-bottom: 2rem;
      ul {
        @include flexContainer(center, flex-end, row);
        li {
          position: relative;
          &:not(:last-of-type) {
            margin-right: 1rem;
          }
          &::after {
            content: "";
            height: 2px;
            width: 1%;
            background-color: transparent;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            transition: all 0.4s ease;
          }

          &:hover {
            text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
            &::after {
              background-color: white;
              width: 120%;
            }
          }
        }
      }
    }

    .footer-nav {
      ul {
        @include flexContainer(center, center, row);
        li {
          border-bottom: 2px solid transparent;
          padding-bottom: 10px;
          cursor: pointer;
          transition: all 1s ease;
          position: relative;

          &::after {
            content: "";
            height: 2px;
            width: 1%;
            background-color: transparent;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            transition: all 0.4s ease;
          }

          &:hover {
            text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
            &::after {
              background-color: white;
              width: 120%;
            }
          }

          &:not(:last-of-type) {
            margin-right: 2rem;
          }
          a {
            color: $white;
            @include fontSubTitle();
            font-size: 0.9375rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  footer {
    padding: 5rem 0;
    .container {
      flex-direction: column;
      .logo {
        margin-bottom: 2.5rem;
      }
      span {
        display: inline-block;
        text-align: center;
        font-size: 1.25rem;
      }
      .footer-nav {
        ul {
          flex-direction: column;
          li {
            margin-right: 0 !important;
            margin-bottom: 1rem;
            a {
              font-size: 1.2rem;
            }
          }
        }
      }
      .footer-links {
        ul {
          justify-content: center;
          margin-top: 36px;
          li {
            margin: 12px !important;
            a {
              img {
                width: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
