@import "../abstracts/mixins";
header {
  height: 650px;
  position: relative;
  color: $white;
  animation-name: smooth3;
  animation-duration: 0.7s;
  div {
    &:nth-of-type(1) {
      &:not(:first-child) {
        @include containerDesktop();
        margin-top: 138px;

        h1 {
          font-size: 4.4rem;
          border: 2px solid white;
          max-width: 650px;
          height: 280px;
          padding: 2.625rem;
          @include fontTitle();
          text-transform: uppercase;
        }
      }
    }
  }

  &::after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-image: url("/../images/desktop/image-hero.jpg");
    filter: brightness(55%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@keyframes smooth3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  header {
    div {
      &:nth-of-type(1) {
        &:not(:first-child) {
          h1 {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    position: relative;
    animation-name: smooth2;
    animation-duration: 0.5s;
    div {
      &:nth-of-type(1) {
        &:not(:first-child) {
          h1 {
            margin: 0 auto;
            font-size: calc(min(3.75rem, 11vw));
            height: unset;
            padding-top: 3.5rem;
            max-width: 100%;
          }
        }
      }
    }
    &::after {
      background-image: url("/../images/mobile/image-hero.jpg");
      filter: brightness(90%);
      animation-name: smooth1;
      animation-duration: 0.5s;
    }
    @keyframes smooth1 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  @keyframes smooth2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    .logo {
      img {
        max-width: 80%;
      }
    }
    position: relative;
    animation-name: smooth2;
    animation-duration: 0.5s;
    div {
      &:nth-of-type(1) {
        &:not(:first-child) {
          h1 {
            padding: 1.5rem;
            padding-top: 1.8rem;
          }
        }
      }
    }
  }
}
