@import "../abstracts/mixins";
header {
  height: 650px;
  position: relative;
  color: $white;

  div {
    &:nth-of-type(1) {
      &:not(:first-child) {
        @include containerDesktop();
        margin-top: 138px;

        h1 {
          font-size: 4.4rem;
          border: 2px solid white;
          max-width: 650px;
          height: 280px;
          padding: 2.625rem;
          @include fontTitle();
          text-transform: uppercase;
        }
      }
    }
  }

  &::after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-image: url("../../images/desktop/image-hero.jpg");
    filter: brightness(55%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
