@import "../abstracts/mixins";
@import "../abstracts/variables";

nav {
  @include containerDesktop();
  @include flexContainer(center, space-between, row);
  padding-top: $padding-top-navigation;
  .logo {
    &:focus-within,
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
    .logo {
      z-index: 1;
    }
  }
}
