*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  border: none;
}

input {
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: inherit;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
nav {
  max-width: 1118px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
header {
  position: relative;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

header div {
  max-width: 1118px;
  margin: 0 auto;
  padding-top: 145px;
  overflow: hidden;
  margin-bottom: 140px;
}

header::after {
  content: url(../../images/illustration-working.svg);
  position: absolute;
  top: 62px;
  right: -117px;
}

header div h1 {
  font-size: 4.85rem;
  letter-spacing: -3px;
  color: #232127;
  max-width: 560px;
  line-height: 1.14;
}

header div p {
  color: #9e9aa7;
  font-size: 18px;
  max-width: 500px;
  font-size: 21px;
  margin-bottom: 37px;
}

header div button {
  background-color: #2acfcf;
  border-radius: 50px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
nav .nav-logo {
  margin-right: 44px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

nav ul li a {
  color: #9e9aa7;
  font-weight: 500;
  cursor: pointer;
}

nav button:first-child {
  color: #9e9aa7;
  font-weight: 500;
  cursor: pointer;
  margin-right: 36px;
  background-color: white;
  font-weight: 700;
}

nav button:last-child {
  background-color: #2acfcf;
  border-radius: 50px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */