*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  border: none;
}

input {
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: inherit;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
nav {
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
header {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  padding: 0 5%;
  margin: auto;
  padding-bottom: 93px;
}

header div {
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
  padding-top: 145px;
  margin-bottom: 140px;
  position: relative;
}

header div::after {
  content: "";
  width: 733px;
  height: 482px;
  background-image: url(../../images/illustration-working.svg);
  position: absolute;
  top: 80px;
  background-repeat: no-repeat;
  background-size: 97%;
  right: -23%;
}

header div h1 {
  font-size: 4.85rem;
  letter-spacing: -3px;
  color: #232127;
  max-width: 560px;
  line-height: 1.14;
}

header div p {
  color: #9e9aa7;
  font-size: 18px;
  max-width: 500px;
  font-size: 21px;
  margin-bottom: 37px;
}

header div button {
  background-color: #2acfcf;
  border-radius: 50px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

header div button:hover {
  background-color: #a8e1e1;
}

@media screen and (max-width: 1230px) {
  header div h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  header div p {
    max-width: 50%;
  }
  header div::after {
    top: 105px;
    background-repeat: no-repeat;
    background-size: 80%;
    right: -30%;
  }
}

@media screen and (max-width: 1080px) {
  header div {
    padding-top: 125px;
    margin-bottom: 160px;
  }
  header div h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  header div p {
    max-width: 35vw;
  }
  header div::after {
    top: 105px;
    background-repeat: no-repeat;
    background-size: 80%;
    right: -40%;
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
section {
  background-color: #eff1f5;
  padding-bottom: 207px;
}

@media screen and (max-width: 990px) {
  section {
    padding-bottom: 116px;
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
footer {
  padding-top: 63px;
  padding-bottom: 73px;
  background-color: #232127;
}

footer .container-footer {
  color: white;
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .container-footer div:nth-of-type(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .container-footer div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container-footer div:nth-of-type(2) ul {
  width: 188px;
}

footer .container-footer div:nth-of-type(2) ul li {
  margin-bottom: 10px;
}

footer .container-footer div:nth-of-type(2) ul li a {
  color: #bfbfbf;
}

footer .container-footer div:nth-of-type(2) ul li a:hover {
  color: #2acfcf;
}

footer .container-footer div:nth-of-type(2) ul li:nth-of-type(1) {
  margin-bottom: 20px;
}

footer .container-footer div:nth-of-type(2) ul li:nth-of-type(1) a {
  color: white;
  font-weight: 700;
}

footer .container-footer div:nth-of-type(2) ul li:nth-of-type(1) a:hover {
  color: #2acfcf;
}

footer .container-footer div:nth-of-type(3) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container-footer div:nth-of-type(3) ul li a img {
  max-width: 100%;
}

footer .container-footer div:nth-of-type(3) ul li:hover a img {
  -webkit-filter: invert(68%) sepia(98%) saturate(337%) hue-rotate(124deg) brightness(256%) contrast(66%);
          filter: invert(68%) sepia(98%) saturate(337%) hue-rotate(124deg) brightness(256%) contrast(66%);
}

footer .container-footer div:nth-of-type(3) ul li:not(:nth-of-type(1)) {
  margin-left: 23px;
}

@media screen and (max-width: 990px) {
  footer .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container-footer div:nth-of-type(1) {
    margin-bottom: 40px;
  }
  footer .container-footer div:nth-of-type(2) {
    margin-bottom: 50px;
  }
  footer .container-footer div:nth-of-type(2) ul {
    text-align: center;
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
nav .nav-logo {
  margin-right: 44px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

nav ul li a {
  color: #9e9aa7;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
}

nav ul li a:hover {
  color: #35323e;
}

nav button:first-child {
  color: #9e9aa7;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 36px;
  background-color: white;
  /* font-weight: 700; */
  font-size: 16px;
}

nav button:first-child:hover {
  color: #35323e;
}

nav button:last-child {
  background-color: #2acfcf;
  border-radius: 50px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

nav button:last-child:hover {
  background-color: #a8e1e1;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
.form-control {
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 64px 53px;
  background-color: #3b3054;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translateY(-93px);
          transform: translateY(-93px);
}

.form-control.error small {
  display: block;
}

.form-control.error label input {
  border-color: #f46262;
}

.form-control.error label input::-webkit-input-placeholder {
  color: #f46262;
  opacity: 0.4;
}

.form-control.error label input:-ms-input-placeholder {
  color: #f46262;
  opacity: 0.4;
}

.form-control.error label input::-ms-input-placeholder {
  color: #f46262;
  opacity: 0.4;
}

.form-control.error label input::placeholder {
  color: #f46262;
  opacity: 0.4;
}

.form-control::after {
  content: "";
  background-image: url(../../images/bg-shorten-desktop.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-size: cover;
}

.form-control form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.form-control form small {
  position: absolute;
  left: 0;
  bottom: -31px;
  font-style: italic;
  font-size: 18px;
  color: #f46262;
}

.form-control form label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-control form button {
  background-color: #2acfcf;
  border-radius: 10px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 16px 41px;
  font-size: 18px;
  margin-left: 24px;
}

.form-control form button:hover {
  background-color: #a8e1e1;
}

.form-control form input {
  width: 100%;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  height: 59px;
  border: 1px solid transparent;
}

.form-control form input::-webkit-input-placeholder {
  color: #9e9aa7;
}

.form-control form input:-ms-input-placeholder {
  color: #9e9aa7;
}

.form-control form input::-ms-input-placeholder {
  color: #9e9aa7;
}

.form-control form input::placeholder {
  color: #9e9aa7;
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
.links {
  -webkit-transform: translateY(-93px);
          transform: translateY(-93px);
}

.list {
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
}

.list li {
  padding: 0.8rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  color: #232127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 18px;
}

.list li:nth-of-type(1) {
  margin-top: 22px;
}

.list li small {
  position: absolute;
  opacity: 0;
  top: 6px;
  right: 46px;
  font-size: 0.7rem;
}

.list li .close {
  display: none;
  text-align: right;
  cursor: pointer;
}

.list li a span {
  font-size: 19.5px;
}

.list li span {
  font-size: 19.5px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.list li a:nth-of-type(1) {
  color: #2acfcf;
  font-weight: bolder;
}

.list li a:nth-of-type(1):hover,
.list li a:nth-of-type(1):focus {
  color: #2acfcf;
}

.list li button {
  margin-left: 15px;
  background-color: #2acfcf;
  border-radius: 5px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  cursor: pointer;
  font-size: 1rem;
}

.list li button:hover {
  background-color: #a8e1e1;
}

.list li button.copied {
  background-color: #3b3054;
  width: 97.34px;
  padding: 10px 17px;
  -webkit-animation-name: smooth-copy-entry;
          animation-name: smooth-copy-entry;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

@-webkit-keyframes smooth-copy-entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-copy-entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list li button:focus,
.list li button:hover {
  -webkit-box-shadow: 1px 1px 10px rgba(212, 201, 201, 0.815);
          box-shadow: 1px 1px 10px rgba(212, 201, 201, 0.815);
}

.list li button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.list li:hover .close,
.list li .close:hover {
  display: block;
  font-size: 1.1rem;
  color: rgba(49, 49, 49, 0.87);
  position: absolute;
  right: 3px;
  top: -3px;
}

.list li .close:hover {
  color: red;
}

@media screen and (max-width: 990px) {
  .list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 27px;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .list li:hover .close {
    right: 6px;
    top: 0px;
  }
  .list li button {
    width: 100%;
    margin-left: 0;
  }
  .list li button .coppied {
    width: 100%;
  }
  .list li span {
    margin-bottom: 15px;
  }
  .list li a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 500px;
    left: 0%;
    background-color: #00000024;
  }
  .list li a span {
    padding-top: 23px;
    display: inline-block;
  }
  .list li button.copied {
    background-color: #3b3054;
    width: 100% !important;
    padding: 10px 17px;
    -webkit-animation-name: smooth-copy-entry;
            animation-name: smooth-copy-entry;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
.loader {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eff1f5;
  padding: 30px 70px;
  -webkit-animation: fadeIn 1.3s;
          animation: fadeIn 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    padding: 0;
  }
  50% {
    padding: 50px 70px;
  }
  100% {
    opacity: 1;
    padding: 50px 70px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    padding: 0;
  }
  50% {
    padding: 50px 70px;
  }
  100% {
    opacity: 1;
    padding: 50px 70px;
  }
}

.loader.hidden {
  -webkit-animation: fadeOut 1.3s;
          animation: fadeOut 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.loader span {
  display: block;
  width: 20px;
  height: 20px;
  background: #eff1f5;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
  background: #f07e6e;
}

.loader span:nth-child(3) {
  background: #84cdfa;
}

.loader span:nth-child(4) {
  background: #5ad1cd;
}

.loader span:not(:last-child) {
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

.loader span:last-child {
  -webkit-animation: jump 1.5s ease-in-out infinite;
          animation: jump 1.5s ease-in-out infinite;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, 10px);
            transform: translate(20px, 10px);
  }
  30% {
    -webkit-transform: translate(30px, -50px);
            transform: translate(30px, -50px);
  }
  70% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
  }
  80% {
    -webkit-transform: translate(-140px, 10px);
            transform: translate(-140px, 10px);
  }
  90% {
    -webkit-transform: translate(-130px, -10px);
            transform: translate(-130px, -10px);
  }
  100% {
    -webkit-transform: translate(-120px, 0);
            transform: translate(-120px, 0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, 10px);
            transform: translate(20px, 10px);
  }
  30% {
    -webkit-transform: translate(30px, -50px);
            transform: translate(30px, -50px);
  }
  70% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
  }
  80% {
    -webkit-transform: translate(-140px, 10px);
            transform: translate(-140px, 10px);
  }
  90% {
    -webkit-transform: translate(-130px, -10px);
            transform: translate(-130px, -10px);
  }
  100% {
    -webkit-transform: translate(-120px, 0);
            transform: translate(-120px, 0);
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 32px;
}

.statistics h2 {
  font-size: 2.4rem;
  color: #232127;
  margin-bottom: 10px;
}

.statistics p {
  color: #9e9aa7;
  margin-bottom: 100px;
  font-size: 18px;
  max-width: 520px;
  text-align: center;
  line-height: 1.9;
}

@media screen and (max-width: 990px) {
  .statistics h2 {
    font-size: 2.12rem;
    max-width: 500px;
    text-align: center;
  }
  .statistics p {
    max-width: 500px;
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1118px;
  max-width: 95%;
  margin: 0 auto;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 80px 32px 44px;
  border-radius: 10px;
  width: 350px;
  min-height: 270px;
  position: relative;
}

.cards .card::before {
  content: "";
  position: absolute;
  background-color: #3b3054;
  border-radius: 100px;
  height: 90px;
  width: 90px;
  top: -46px;
  background-image: url(../../images/icon-brand-recognition.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cards .card:nth-of-type(1)::after {
  content: "";
  position: absolute;
  background-color: #2acfcf;
  width: 34px;
  height: 8px;
  right: -34px;
  z-index: 0;
}

.cards .card:nth-of-type(2) {
  -webkit-transform: translateY(43px);
          transform: translateY(43px);
}

.cards .card:nth-of-type(2)::before {
  background-image: url(../../images/icon-detailed-records.svg);
}

.cards .card:nth-of-type(2)::after {
  content: "";
  position: absolute;
  background-color: #2acfcf;
  width: 34px;
  height: 8px;
  right: -34px;
  z-index: 0;
  -webkit-transform: translateY(-41px);
          transform: translateY(-41px);
}

.cards .card:nth-of-type(3) {
  -webkit-transform: translateY(86px);
          transform: translateY(86px);
}

.cards .card:nth-of-type(3)::before {
  background-image: url(../../images/icon-fully-customizable.svg);
}

.cards .card h3 {
  font-size: 22px;
  color: #232127;
  margin-bottom: 1rem;
  text-align: left;
}

.cards .card p {
  color: #9e9aa7;
  line-height: 1.7;
  font-size: 15px;
}

.cards .card:not(:nth-of-type(3)) {
  margin-right: 30px;
}

@media screen and (max-width: 990px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    margin-bottom: 60px;
    margin-right: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .card p {
    text-align: center;
  }
  .cards .card:nth-of-type(1)::after {
    width: 8px !important;
    height: 60px !important;
    right: 48.5% !important;
    bottom: -61px !important;
    z-index: 0;
  }
  .cards .card:nth-of-type(2)::after {
    width: 8px !important;
    height: 60px !important;
    right: 48.5% !important;
    bottom: -103px !important;
    z-index: 0;
  }
  .cards .card::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
/* ## Colors */
/* ### Primary */
/* ### Secondary */
/* ### Neutral */
/* ### typography */
/* ### Weights */
/* ### Font-size */
.boost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
}

.boost::after {
  content: "";
  position: absolute;
  background-color: #3b3054;
  background-image: url(../../images/bg-boost-desktop.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.boost h2 {
  padding-top: 65px;
  padding-bottom: 25px;
  font-size: 2.25rem;
}

.boost button {
  background-color: #2acfcf;
  border-radius: 50px;
  padding: 10px 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 14px 38px;
  font-size: 19px;
  margin-bottom: 54px;
}

.boost button:hover {
  background-color: #a8e1e1;
}
/*# sourceMappingURL=main.css.map */