html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: inherit;
}

.disabled {
  color: white !important;
  background-color: gray !important;
  cursor: default !important;
  &:hover {
    background-color: gray !important;
  }
}
