@import "../utilities/mixins";
@import "../utilities/variables";

footer {
  padding-top: 63px;
  padding-bottom: 73px;
  background-color: $clr-neutral-light-dark;
  .container-footer {
    color: white;
    @include container;
    @include flexContainer(row, flex-start, flex-start);

    div {
      &:nth-of-type(1) {
        flex: 1;
      }
      &:nth-of-type(2) {
        @include flexContainer(row, flex-start, space-between);
        ul {
          width: 188px;
          li {
            margin-bottom: 10px;
            a {
              color: $clr-neutral-gray;
              &:hover {
                color: $clr-primary-cyan;
              }
            }
            &:nth-of-type(1) {
              margin-bottom: 20px;
              a {
                color: white;
                font-weight: 700;
                &:hover {
                  color: $clr-primary-cyan;
                }
              }
            }
          }
        }
      }
      &:nth-of-type(3) {
        ul {
          @include flexContainer(row, flex-start, space-between);
          li {
            a {
              img {
                max-width: 100%;
              }
            }
            &:hover {
              a {
                img {
                  filter: invert(68%) sepia(98%) saturate(337%)
                    hue-rotate(124deg) brightness(256%) contrast(66%);
                }
              }
            }
            &:not(:nth-of-type(1)) {
              margin-left: 23px;
            }
          }
        }
      }
    }
  }
}
