@import "../utilities/mixins";
@import "../utilities/variables";

footer {
  padding-top: 63px;
  padding-bottom: 73px;
  background-color: $clr-neutral-light-dark;
  .container-footer {
    color: white;
    @include container;
    @include flexContainer(row, flex-start, flex-start);

    div {
      &:nth-of-type(1) {
        flex: 1;
      }
      &:nth-of-type(2) {
        @include flexContainer(row, flex-start, space-between);
        ul {
          margin-right: 76px;
          width: 188px;
          li {
            margin-bottom: 10px;
            a {
              color: $clr-neutral-gray;
            }
            &:nth-of-type(1) {
              margin-bottom: 20px;
              a {
                color: white;
                font-weight: 700;
              }
            }
          }
        }
      }
      &:nth-of-type(3) {
        ul {
          @include flexContainer(row, flex-start, space-between);
          li {
            margin-left: 23px;
          }
        }
      }
    }

    a {
      color: white;
    }
  }
}
