@import "../utilities/mixins";

header {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding: 0 5%;
  margin: auto;
  padding-bottom: 93px;

  div {
    @include container;
    padding-top: 145px;
    margin-bottom: 140px;
    position: relative;

    &::after {
      content: "";
      width: 733px;
      height: 482px;
      background-image: url(../../images/illustration-working.svg);
      position: absolute;
      top: 80px;
      background-repeat: no-repeat;
      background-size: 97%;
      right: -23%;
    }

    h1 {
      font-size: 4.85rem;
      letter-spacing: -3px;
      color: $clr-neutral-light-dark;
      max-width: 560px;
      line-height: 1.14;
    }

    p {
      color: $clr-neutral-violet-gray;
      font-size: $fs-default;
      max-width: 500px;
      font-size: 21px;
      margin-bottom: 37px;
    }

    button {
      @include button(50px);
      font-size: 18px;
    }
  }
}

/* @media screen and (max-width: 1230px){
  header{
    &::after{

    }
  }
} */
