@import "../utilities/mixins";

header {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  padding: 0 5%;
  margin: auto;
  padding-bottom: 93px;

  div {
    @include container;
    padding-top: 145px;
    margin-bottom: 140px;
    position: relative;

    &::after {
      content: "";
      width: 733px;
      height: 482px;
      background-image: url(../../images/illustration-working.svg);
      position: absolute;
      top: 80px;
      background-repeat: no-repeat;
      background-size: 97%;
      right: -23%;
    }

    h1 {
      font-size: 4.85rem;
      letter-spacing: -3px;
      color: $clr-neutral-light-dark;
      max-width: 560px;
      line-height: 1.14;
    }

    p {
      color: $clr-neutral-violet-gray;
      font-size: $fs-default;
      max-width: 500px;
      font-size: 21px;
      margin-bottom: 37px;
    }

    button {
      @include button(50px);
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1230px) {
  header {
    div {
      h1 {
        font-size: 4rem;
        margin-bottom: 10px;
      }
      p {
        max-width: 50%;
      }
      &::after {
        top: 105px;
        background-repeat: no-repeat;
        background-size: 80%;
        right: -30%;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  header {
    div {
      padding-top: 125px;
      margin-bottom: 160px;
      h1 {
        font-size: 4rem;
        margin-bottom: 10px;
      }
      p {
        max-width: 35vw;
      }
      &::after {
        top: 105px;
        background-repeat: no-repeat;
        background-size: 80%;
        right: -40%;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  header {
    div {
      padding-top: 500px;
      h1 {
        max-width: 560px;
        line-height: 1.14;
        margin: 0 auto;
        text-align: center;
        font-size: 3.5rem;
      }
      p {
        margin: 0 auto;
        text-align: center;
        margin-top: 25px;
        max-width: 490px;
      }

      button {
        margin: 0 auto;
        text-align: center;
        display: inherit;
        margin-top: 30px;
        padding: 13px 45px;
        margin-bottom: -30px;
      }
      &::after {
        top: 48px;
        background-repeat: no-repeat;
        background-size: 80%;
        left: 50%;
        transform: translateX(-39%);
      }
    }
  }
}
