@import "../abstracts/mixins";
@import "../abstracts/variables";

.cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  animation-name: smooth-cards1;
  animation-duration: 1.2s;

  .card {
    height: 450px;
    max-width: 256px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &:nth-of-type(1) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-deep-earth.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(2) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-night-arcade.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(3) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-soccer-team.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(4) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-grid.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(5) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-from-above.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(6) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-pocket-borealis.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(7) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-curiosity.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    &:nth-of-type(8) {
      &::after {
        @include backgroundImg();
        background-image: url("../images/desktop/image-fisheye.jpg");
      }
      @include backgroundShadowEffect();
      @include cardHoverBackground();
    }
    h3 {
      position: absolute;
      @include fontTitle();
      text-transform: uppercase;
      font-size: 2.1rem;
      max-width: 75%;
      color: white;
      bottom: 5%;
      left: 15%;
      color: $white;
      &::after {
        @include backgroundImg();
        top: 200%;
        clip-path: circle(11px);
        z-index: 0;
        background-color: rgba(255, 255, 255, 0.712);
        transition: transform 0.45s ease;
      }
    }
  }
}
@keyframes smooth-cards1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    animation-name: smooth-cards;
    animation-duration: 1.2s;
    .card {
      justify-self: center;
      height: 520px;
      max-width: 336px;

      h3 {
        max-width: 60%;
      }
      &:nth-of-type(7) {
        transform: translateX(57%);
      }

      &:nth-of-type(8) {
        transform: translateX(57%);
      }
    }
  }
  @keyframes smooth-cards {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 980px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    .card {
      &:nth-of-type(1) {
        justify-self: end;
      }
      &:nth-of-type(2) {
        justify-self: start;
      }
      &:nth-of-type(3) {
        justify-self: end;
      }
      &:nth-of-type(4) {
        justify-self: start;
      }
      &:nth-of-type(5) {
        justify-self: end;
      }
      &:nth-of-type(6) {
        justify-self: start;
      }
      &:nth-of-type(7) {
        justify-self: end;
        transform: translateX(0);
      }
      &:nth-of-type(8) {
        justify-self: start;
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cards {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    animation-name: smooth-cards1;
    animation-duration: 1.2s;
    .card {
      height: 240px;
      max-width: 654px;
      h3 {
        bottom: 15%;
        max-width: 40%;
        left: 7%;
        font-size: 2.45rem;
      }
      &:nth-of-type(1) {
        &::after {
          background-image: url("../images/mobile/image-deep-earth.jpg");
          justify-self: unset;
        }
      }
      &:nth-of-type(2) {
        &::after {
          background-image: url("../images/mobile/image-night-arcade.jpg");
        }
        justify-self: unset;
      }
      &:nth-of-type(3) {
        justify-self: unset;
        &::after {
          background-image: url("../images/mobile/image-soccer-team.jpg");
        }
      }
      &:nth-of-type(4) {
        &::after {
          background-image: url("../images/mobile/image-grid.jpg");
        }
        justify-self: unset;
      }
      &:nth-of-type(5) {
        justify-self: unset;
        &::after {
          background-image: url("../images/mobile/image-from-above.jpg");
        }
      }
      &:nth-of-type(6) {
        &::after {
          background-image: url("../images/mobile/image-pocket-borealis.jpg");
        }
        justify-self: unset;
      }
      &:nth-of-type(7) {
        justify-self: unset;
        &::after {
          background-image: url("../images/mobile/image-curiosity.jpg");
        }
        transform: translateX(0);
      }
      &:nth-of-type(8) {
        &::after {
          background-image: url("../images/mobile/image-fisheye.jpg");
        }
        justify-self: unset;
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .cards {
    .card {
      h3 {
        font-size: 2.5rem;
      }
    }
  }
}
