@import "../abstracts/variables";

.navbar {
  ul {
    @include flexContainer(center, center, row);
    li {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
      a {
        color: $white;
        @include fontSubTitle();
        font-size: 0.9375rem;
      }
    }
  }
}
