@import "../abstracts/variables";

.nav-mobile {
  display: none;
}

.navbar {
  ul {
    @include flexContainer(center, center, row);
    li {
      border-bottom: 2px solid transparent;
      padding-bottom: 10px;
      cursor: pointer;
      transition: all 1s ease;
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 1%;
        background-color: transparent;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        transition: all 0.4s ease;
      }

      &:hover,
      &:focus-within {
        text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
        &::after {
          background-color: white;
          width: 120%;
        }
      }

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
      a {
        color: $white;
        @include fontSubTitle();
        font-size: 0.9375rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    .navbar {
      display: none;
    }
  }

  .nav-mobile.open {
    display: flex;
    position: absolute;
    top: 0%;
    background: black;
    width: 100%;
    height: 100%;
    ul {
      @include flexContainer(baseline, center, column);
      height: 100vh;
      align-items: baseline;
      margin-left: 60px;
      margin-top: 60px;

      li {
        padding-bottom: 10px;
        margin-bottom: 30px;
        position: relative;
        &::after {
          content: "";
          height: 2px;
          width: 1%;
          background-color: transparent;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          transition: all 0.4s ease;
        }

        &:hover,
        &:focus-within {
          text-shadow: 1px -1px 1px rgba(255, 255, 255, 0.486);
          &::after {
            background-color: white;
            width: 100%;
          }
        }
        a {
          @include fontTitle();
          text-transform: uppercase;
          font-size: 2.5rem;
          color: white;
        }
      }
    }
  }
}
