@import "../abstracts/mixins";

.section-header {
  @include flexContainer(center, space-between, row);
  margin-bottom: 5.625rem;
}

@media screen and (max-width: 980px) {
  .section-header {
    @include flexContainer(center, center, row);
    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .section-header {
    h2 {
      font-size: 2rem;
    }
  }
}
