@import "../abstracts/mixins";
@import "../abstracts/variables";

section {
  .desktop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 43px;
    cursor: pointer;
    border: 1px solid $dark-gray;
    font-weight: bold;
    position: relative;
    &::after {
      @include backgroundImg();
      height: 0px;
      width: 0px;
      top: 50%;
      left: 50%;
      background-color: black;
      transition: all 0.2s ease;
    }
    &:hover,
    &:focus-within {
      &::after {
        @include backgroundImg();
        height: 100%;
        width: 100%;
        background-color: black;
      }
      /* background-color: black; */
      animation-name: button-entry;
      animation-duration: 0.8s;
      a {
        color: white;
        font-weight: bold;
      }
    }
    a {
      @include fontTitle();
      font-size: 0.82rem;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      transform: translate(3px, 3px);
    }
  }
  .mobile-button {
    @extend .desktop-button;
    display: none;
  }
}

@media screen and (max-width: 980px) {
  section {
    .desktop-button {
      display: none;
    }
    .mobile-button {
      width: 220px;
      height: 63px;
      border: 3px solid $dark-gray;

      margin: 0 auto;
      margin-top: 68px;
      @include flexContainer(center, center, row);
      a {
        display: inline-block;
        font-size: 1.1rem;
      }
      &:hover,
      &:focus {
        border: 3px solid black;
        &::after {
          transform: translateY(-1px) scaleY(1.04);
          height: 101%;
          width: 101%;
        }
      }
    }
  }
}
